.side-drawer {
  background-color: #263037;
  /* height: 100vh; */
  width: 75%; 
  top: 0;
  bottom: 0;
  left: -100%;
  box-shadow: 5px 5px 8px #161c20;
  position: absolute;
  animation: slide-in 0.15s ease-in;
  animation-fill-mode: forwards;
  z-index: 100;
}

@keyframes slide-in {
  100% {
    left: 0;
  }
}
@keyframes slide-out {
  0% {
    left: 0%
  }
  100% {
    left: -100%
  }

}

.example-exit-active {
  animation: slide-out 0.15s ease-in;
  animation-fill-mode: forwards;

}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  fill: white;
  padding: 10px 10px 0 0;
}
