.side-drawer {
  background-color: #263037;
  height: 100vh;
  width: 70%;
  opacity: 1;
  color: white;
  z-index: 10;
  top: 0;
  left: 0;
  overflow: hidden;
  box-shadow: 5px 5px 8px #161c20;
  position: absolute;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
/* 
.side-drawer:hover {
    opacity: 0.9;
    left: 0;
} */

.button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.close-btn {
  fill: white;
  padding: 10px 10px 0 0;
}
