.parent {
    height: 100vh;
    background-color: tomato;
}

.test1 {
    position: absolute;
    top: 2%;
    bottom: 2%;
    left: 2%;
    right: 2%;
    background-color: darkgreen;
}

.test1_child1 {
    background-color: darkmagenta;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25%;
    right: 25%;
}

.test1_child2 {
    background-color: yellowgreen;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 35%;
    right: 35%;
}

.child {
    background-color: blue;
    width: 100px;
    height: 100px;
}