.content {
  margin-top: 0;
  color: white;
}

.mummy-wrapper {
  min-height: 85vh;
}

.mummy {
  position: relative;
  height: 80vh;
  top: 32px;
  left: 8%;
  z-index: -10;
}

.yellow-box-wrapper {
  width: 130px;
  height: 500px;
  position: absolute;
  top: 20%;
  left: 45%;
  z-index: -9;
}

.yellow-box {
  fill: none;
  stroke-width: 15;
  stroke: #ffa931;
}

@media (min-width: 700px) {
  .mummy {
    left: 25%;
  }
}
