.content {
  margin-top: 0;
  color: white;
}

.mummy-wrapper {
  min-height: 85vh;
}

.mummy {
  position: relative;
  height: 80vh;
  top: 32px;
  left: 8%;
  z-index: -10;
}

@media (min-width: 700px) {
  .mummy {
    left: 20%;
  }
}
