.header {
  margin: 12px 0;
}

.hamburger {
  background-color: white;
  height: 5px;
  width: 30px;
  margin: 6px 0;
  display: block;
}

.mobile-menu-btn {
  display: inline-block;
  margin-left: 20px;
}

.header-desktop {
  display: none;
}

@media (min-width: 700px) {
  .hamburger {
    display: none;
  }

  .header-desktop {
    display: unset;
  }

  ul li {
    list-style: none;
    color: white;
    display: inline;
    margin: 0 40px;
  }
  
  .nav-logo-wrapper {
    display: flex;
    justify-content: space-around;
  }
  .nav-list {
    display: inline-block;
  }
  
  .brand-logo {
    grid-area: logo;
  }
  
  .navbar {
    grid-area: nav;
  }
}
