.header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.hamburger {
  background-color: white;
  height: 5px;
  width: 30px;
  margin: 6px 0;
  display: block;
}

.mobile-menu-btn {
  display: inline-block;
  margin-top: 1rem;
  margin-left: 1rem;
}

.brand-logo {
  display: none;
}

.navbar {
  display: none;
}

@media (min-width: 700px) {
  .header {
    padding: .5rem 1rem;
  }

  .brand-logo {
    display: flex;
  }

  .navbar {
    display: flex;
  }
  .header-mobile {
    display: none;
  }

  ul li {
    list-style: none;
    color: white;
    display: inline;
    margin: 0 40px;
  }
}
